/* Стилизация аккордеона */
.accordion {}
.accordion__item {
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px 32px;
    margin-bottom: 8px;
}
.accordion__item * {
    font-family: Inter, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.accordion__item:last-child {
    margin-bottom: 0;
}
.accordion__text {
    color: var(--grey-4);
}

.accordion__summary {
    color: var(--black);
    cursor: pointer;
    position: relative;
}
.accordion__summary::marker,
.accordion__summary::-webkit-details-marker {
    display: none;
    content: "";
}
.accordion__summary:before {
    content: "";
    width: 16px;
    height: 8px;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L9 9L17 1' stroke='%23495057' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    position: absolute;
    right: 0;
    top: 10px;
    transition: all 200ms ease-in-out;
}
.accordion__item[open] .accordion__summary:before {
    transform: rotate(-180deg);
}

